svg {
  animation: offset 10s linear forwards !important;
}

@keyframes offset {
  to {
    stroke-dashoffset: 0;
  }
}

.stage {
  z-index: 1500;
  position: absolute;
  top: 0;
  left: 0;
}

.eventOverlayContainer {
  color: black;
  background: #E2DED8;
  opacity: 1.0;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.eventContainer {
  display: flex;
  width: 90%;
  margin: 2em auto;
  max-height: 95%;
  flex-direction: column;
}

.eventHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.eventHeader h1 {
  margin: 0 !important;
  font-weight: 400;
  font-size: 2.5rem;
}

.eventHeader span {
  color: black;
  display: inline;
  background: #c3bfb9;
  box-shadow: 10px 0 0 #c3bfb9, -10px 0 0 #c3bfb9;
  position: absolute;
  right: 0;
  z-index: 1550;
}

.eventText {
  background: none;
  position: absolute;
  flex: 0.5;
  z-index: 1550;
}

.eventText span.header {
  line-height: 50pt;
  font-weight: 800;
}

button {
  font-family: 'Lora', 'Times New Roman', serif !important;
  color: black;
  z-index: 1800;
  border: 1px solid black;
  padding: 1em;
}

button:hover {
  cursor: pointer;
  border: 1px solid #997a29;
  color: #997a29;
}

button,
button:hover {
  transition: border, color 0.2s ease-in-out;
}
