h1 {
  margin: 0 !important;
}

.stage {
  flex: 0.5;
  z-index: 1500;
  position: absolute;
  top: 0;
  left: 0;
}

.eventOverlayContainer {
  background: #E2DED8;
  opacity: 1.0;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.eventContainer {
  display: flex;
  width: 90%;
  margin: 2em auto;
  max-height: 95%;
  flex-direction: column;
}

.eventHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.eventText {
  width: 30%;
  height: 80%;
  position: absolute;
  left: 50%;
  bottom: 0;
  flex: 0.5;
  z-index: 1550;
}

.header {
  line-height: 50pt;
  font-size: 4rem;
  font-weight: 800;
}

p {
  font-size: 2rem;
}

button {
  font-family: 'Lora', 'Times New Roman', serif !important;
  color: black;
  z-index: 1800;
  border: 1px solid black;
  padding: 1em;
}

button:hover {
  cursor: pointer;
  border: 1px solid #997a29;
  color: #997a29;
}

button,
button:hover {
  transition: border, color 0.2s ease-in-out;
}
