ul {
  -webkit-margin-before: 0;
  -webkit-margin-after:  0;
  -webkit-padding-start: 0;
  margin: 0 !important;
  width: auto;
}

.nav {
  list-style-type: none;
  text-align: right;
}

.nav li {
  display: inline-block;
  margin-right: 1rem;
}
