.tooltip {
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  height: auto;
  color: white;
  padding: 1rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  z-index: 12;
  transition: width 0.2s ease-in-out;
}

.title {
  display: block;
  font-weight: 700;
}
